*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info
*.pyo
*.pyd

env/
venv/
ENV/
VENV/
env.bak/
venv.bak/

pip-log.txt
pip-wheel-metadata/
*.egg-info/
dist/
build/

*.log
*.out
*.pid

*.swp
*.swo
*.bak
*.tmp


.env
.env.*